%br
#title_image
  = image_tag "my_name.png", :size => "280x38"
%br
= link_to "http://www.stoichacks.com" do
  #stoic_sprite

= link_to "http://henrys-devblog.herokuapp.com" do
  #devblog_sprite

= link_to "http://henryvanwagenberg.com/pdf" do
  #lebenslauf_sprite

/ = link_to do
/ 	#lebenslauf_sprite
%br
%br
%br
