/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



img {
	max-width:500px;
}

body, html{
    background-color:#EAE9E1;
    width:700px;
    height: cover;
    margin: auto;
    font-family: Ubuntu, sans-serif;
}

a:link {color:#286981 !important; text-decoration: none;}      
a:visited {color:#3891B1 !important;}
a:hover {color:#12120A !important;}
a:active {color:#3691B1 !important;}


a:link {background-color:#FFFFFF !important;}
a:visited {background-color:#FFFFFF !important;}
a:hover {background-color:#FFFFFF !important;}
a:active {background-color:#FFFFFF !important;}
/* line 7, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#title_image {
  margin-left: 205px;
  margin-right: auto;
}

/* line 12, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#penknife_sprite {
  background: url(/assets/penknife_sprite.png) no-repeat;
  background-position: 80px -138px;
  width: 230px;
  height: 220px;
  padding-right: 180px;
  margin-left: auto;
  margin-right: auto;
}

/* line 21, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#penknife_sprite:hover {
  background-position: -327px -138px;
  width: 230px;
  height: 220px;
}

/* line 28, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#stoic_sprite {
  background: url(/assets/stoic_sprite.png) no-repeat;
  background-position: 80px -138px;
  width: 230px;
  height: 220px;
  padding-right: 180px;
  margin-left: auto;
  margin-right: auto;
}

/* line 37, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#stoic_sprite:hover {
  background-position: -327px -138px;
  width: 230px;
  height: 220px;
}

/* line 44, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#devblog_sprite {
  background: url(/assets/devblog_sprite.png) no-repeat;
  background-position: 75px -140px;
  width: 200px;
  height: 224px;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 54, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#devblog_sprite:hover {
  background-position: -346px -140px;
  width: 200px;
  height: 224px;
}

/* line 60, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#lebenslauf_sprite {
  background: url(/assets/lebenslauf_sprite.png) no-repeat;
  background-position: 104px -146px;
  width: 140px;
  height: 184px;
  padding-right: 240px;
  margin-left: auto;
  margin-right: auto;
}

/* line 70, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/homepage.css.scss */
#lebenslauf_sprite:hover {
  background-position: -385px -149px;
  width: 140px;
  height: 184px;
}
/* line 1, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/henryvanwagenberg/Desktop/workspace/hvw_websites/hvw_main/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
