/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


img {
	max-width:500px;
}

body, html{
    background-color:#EAE9E1;
    width:700px;
    height: cover;
    margin: auto;
    font-family: Ubuntu, sans-serif;
}

a:link {color:#286981 !important; text-decoration: none;}      
a:visited {color:#3891B1 !important;}
a:hover {color:#12120A !important;}
a:active {color:#3691B1 !important;}


a:link {background-color:#FFFFFF !important;}
a:visited {background-color:#FFFFFF !important;}
a:hover {background-color:#FFFFFF !important;}
a:active {background-color:#FFFFFF !important;}