// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title{
	margin-left: 160px;
}

#stoic_sprite{
	background: url(/assets/stoic_sprite.png) no-repeat;
	background-position: 160px -138px ;
	width: 230px;
	height: 220px;
	padding-right: 180px;
}
#stoic_sprite:hover{
	background-position: -247px -138px ;
	width: 230px;
	height: 220px;

}

#devblog_sprite{
	background: url(/assets/devblog_sprite.png) no-repeat;
	background-position: 161px -140px ;
	width: 200px;
	height: 224px;
	padding-right: 200px;
}

#devblog_sprite:hover{
	background-position: -260px -140px ;
	width: 200px;
	height: 224px;
}

#lebenslauf_sprite {
	background: url(/assets/lebenslauf_sprite.png) no-repeat;
	background-position: 180px -146px ;
	width: 140px;
	height: 184px;
	padding-right: 240px;
}

#lebenslauf_sprite:hover {
	background-position: -280px -146px ;
	width: 140px;
	height: 184px;
}



